<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head lang="en">
    <title>Home</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<div class="container"><!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/--></div>

<p style="text-align: center;"><span style="font-size:40px;">
    <img src="../../static/images/dabaiyan.png" width="50" th:src="@{/images/dabaiyan.png}"/>
    <strong>PROMs Facade</strong>
    <img src="../../static/images/dabaiyan.png" width="50" th:src="@{/images/dabaiyan.png}"/>
</span></p>

<p style="text-align: center;"><span style="font-size:18px;">Team member</span></p>
<p style="text-align: center;"><span style="font-size:18px;">徐戈</span></p>
<p style="text-align: center;"><span style="font-size:18px;">Anisa</span></p>
<p style="text-align: center;"><span style="font-size:18px;">俞老板</span></p>
<p style="text-align: center;"><span style="font-size:18px;">王世航</span></p>

</body>
</html>
