<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>FHIR facade</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h3>Query Parameters</h3>
    <div>
        <form class="form-horizontal" th:object="${qr}" th:action="@{/questionnaireresponse}">

            <div class="form-group">
                <label class="col-sm-2 control-label">ID:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{identifier}"/>
                </div>
                <label class="col-sm-2 control-label">Procedure ID:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{parent}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Patient Given Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{patient}"/>
                </div>
                <label class="col-sm-2 control-label">Patient Family Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{subject}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Questionnaire:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{questionnaire}"/>
                </div>
                <label class="col-sm-2 control-label">Status:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{status}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Completed Date:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{authored}"/>
                </div>
                <label class="col-sm-2 control-label">Created By:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{author}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11">
                    <button type="button" class="btn btn-success" style="float: right" onclick="location.href='/questionnaireresponse/all'">Get All</button>
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-info" style="float: right">Submit</button>
                </div>
            </div>
        </form>

    </div>


    <h3>Questionnaire Response Details</h3>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <!--<label class="col-sm-2 control-label">Product Id:</label>-->
                <div class="col-sm-12">
                    <pre class="form-control-static" th:text="${qrsource}">Patient</pre>
                </div>
            </div>

        </form>
    </div>
</div>

</body>
</html>